body {
  background: rgb(202, 211, 212);
}

/* .mainbox {
  margin: 20px;
  padding: 20px;
  width: 100%;
} */

#spin {
  position: absolute;
  margin-left: -10%;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  /* background-color: #6495ed; */
}

svg {
  /* clip-path: circle(49.5%); */
  clip-path: circle(50%);
  transition: all ease 3s;
}

#header_row {
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  text-align: center;
  line-height: 2;
}

#header_column {
  justify-content: center;
  margin: auto;
  /* background-color: bisque; */
  /* border: 2px solid black; */
  border-radius: 12px;
  text-align: center;
  line-height: 2;
}

h2 {
  font-size: 2.7rem;
  /* border: 2px solid black; */
  /* background-color: #6495ed; */
  color: #00008b;

  margin: auto;
  font-weight: bold;
}

h3 {
  margin-top: 15px;
  font-size: 30px;
  /* background-color: yellow; */
  color: #00008b;
  /* margin: auto; */
}

#button {
  background-color: #04aa6d;
  /* Green */
  border: 8px solid black;
  border-style: double;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;

  /* min-width: 100px; */
  height: 300px;

  /* padding: 20px; */
  /* text-decoration: none; */
  /* margin: auto; */
  /* margin-top: 10px; */
}

#clickButton {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#clickText {
  color: black;
  font-weight: 700;
  font-size: xx-large;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#clickSubText {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

#messageButtonTable {
  display: flex;
  margin: auto;
}

form button {
  background-color: #00008b;
}
